alias p="./vendor/bin/phpunit"
alias pf="./vendor/bin/phpunit --filter"
alias w="webstorm ."
alias s="pstorm ."
alias a="atom ."
alias art="php artisan"
alias dump="composer dumpautoload"
alias nah="git reset --hard && git clean -dfi"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias legend="cd ~/Sites/legend && git fetch && git status"
alias synPub="rsync -vzcrSLh --progress public/ aws:thesaudilaw.com/public"
alias law="cd ${HOME}/Sites/saudi-law"
alias getssh='cat ~/.ssh/id_rsa.pub | pbcopy'
alias gcsmg='gcmsg'
alias gmcsg="gcmsg"
alias b='vendor/bin/behat'
alias t='terraform'
alias rwd='cd ~/Documents/Code/R/WorkingDirectory'



# Install angular deps
alias ngDeps='npm install --save \
@angular/material \
@angular/cdk \
@angular/animations \
hammerjs \
@angular/flex-layout \
@angular/material-moment-adapter \
moment'

alias myIp="curl ipinfo.io/ip"


# To disbale Chrome CORS pre-flight check
alias unsafeChrome='open -a Google\ Chrome --args --disable-web-security --user-data-dir'
