alias p="./vendor/bin/phpunit"
alias pf="./vendor/bin/phpunit --filter"
alias w="webstorm ."
alias s="pstorm ."
alias a="atom ."
alias art="php artisan"
alias dump="composer dumpautoload"
alias nah="git reset --hard && git clean -dfi"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias legend="cd ~/Sites/legend && git fetch && git status"
alias synPub="rsync -avz --progress public/ aws:/var/www/html/thesaudilaw.com/public/"
alias law="cd ${HOME}/Sites/saudi-law"
