# This is Git's per-user configuration file.
[user]
	name = Hamoud Alhoqbani
	email = h.alhoqbani@gmail.com
[core]
	excludesfile = /Users/hamoud/.gitignore_global
	editor = /usr/bin/vim
	autocrlf = false
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
