"*":
  "atom-html-preview":
    scrollToCursor: true
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      panelShadows: true
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "about"
      "wrap-guide"
      "welcome"
      "emmet"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 18
    lineHeight: 2.5
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "f7c28407-afee-475a-86a9-d1d09197f74f"
  "linter-ui-default": {}
  "spell-check":
    addKnownWords: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
