"*":
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelShadows: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 18
    lineHeight: 2.5
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "f7c28407-afee-475a-86a9-d1d09197f74f"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
