"*":
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    telemetryConsent: "no"
  editor:
    fontSize: 18
    lineHeight: 2.5
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "f7c28407-afee-475a-86a9-d1d09197f74f"
  welcome:
    showOnStartup: false
